<!DOCTYPE html>
<html lang="et" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Helmes DEMO</title>
  <meta charset="UTF-8" content="text/html" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/styles.css}">
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
        crossorigin="anonymous">
  <!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">
    // Disable form submissions if there are invalid fields
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Get the forms we want to add validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</head>
<body>
<div class="container">
  <div class="col-md-6 offset-md-3">
    <form action="#" method="post" class="needs-validation" novalidate th:action="@{/}"
          th:object="${userSubmission}">
      <fieldset>
        <legend>Please enter your name and pick the Sectors you are currently involved in.</legend>
        <input type="hidden" th:field="*{id}"/>
        <div class="row mb-3">
          <label for="name" class="col-sm-2 col-form-label">Name:</label>
          <div class="col-sm-10">
            <input id="name" type="text" class="form-control" placeholder="Name" aria-label="Name"
                   th:field="*{name}" th:errorclass="error-field" required/>
          </div>
        </div>
        <div class="row mb-3">
          <label for="sectors" class="col-sm-2 col-form-label">Sectors:</label>
          <div class="col-sm-10">
            <select id="sectors" multiple size="15" class="form-select" aria-label="Sectors"
                    th:field="*{selectedSectors}" required>
              <option th:each="sector : ${session.allSectors}" th:value="${sector.value}"
                      th:text="${sector.name}">Sectors
              </option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-form-label col-sm-2"></div>
          <div class="col-sm-10">
            <div class="form-check">
              <input type="checkbox" id="agreeToTerms" class="form-check-input"
                     aria-label="Agree To Terms" th:field="*{agreeToTerms}"
                     th:errorclass="error-field" required/>
              <label for="agreeToTerms" class="form-check-label">Agree to terms</label>
              <div class="invalid-feedback">You must agree before submitting.</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <input type="submit" value="Save" class="btn btn-lg btn-primary" aria-label="Save"/>
        </div>
      </fieldset>
    </form>

    <div id="snackbar" th:if="${message}" th:class="${success}?'alert-success':'alert-danger'">
      <script th:inline="javascript">
        $("#snackbar").toggleClass("show");
        setTimeout(function () {
          $("#snackbar").toggleClass("show");
        }, 3000);
      </script>
      <strong th:if="${!success}">Something went wrong!</strong>
      <strong th:if="${success}">SAVED</strong>
    </div>
  </div>
</div>
</body>
</html>